<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-MX1mqnklI1+w4n1vCtbmZh9rqx8pFazc2DSES0QPTsQ6NWGXfOtCaydC6Sm+CVijKpQYHf6PW0knYl4h3iiRig==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="icon" type="image/png" href="{{ site.logo | default: '/assets/images/favicon.png' | relative_url }}">

{% include monospace-font.html %}

<!-- Syntax highlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css" integrity="sha512-drOTzjRvWmvMRGsiE9zraFMvx6bMpiKFFitvolG/GpNZgbf+168Q5e0siJmq9hw3rroWAt4EvsC0BpvyEukgqA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bvJy5o+1OtSWT8gJtIhXCTITVEWilQoNqT9XyM54q9WlH0I1GtIsfRSAxEPPYUajFBl/MEGLjm+rXhN3kLBZjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
{% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% endif %}

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if page.image %}
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% endif %}


